body{
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;

}
.App{
  padding: 30px; 
  text-align: center;
  background-color: #fff;
 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 1px rgb(204, 198, 198);
}
.counter-container{
  align-items: center;
  display: flex;
  flex-direction: column;

}
.counter-container p{
  font-size: 20px;
  
}
.counter{
  width: 80%;
  height: 40px;
  background-color: rgb(37, 3, 37);
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;

}
.card{
    
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    display: flex;
    justify-content: center;
  
}
.btns{
  margin-top: 70px;
  margin-bottom: 100px;
}

button{
  margin: 10px;
  padding: 3px 15px ;
  box-shadow: 0 2px 2px 1px rgb(204, 198, 198);
  border: none;
  background-color: #fff;
  border-radius: 5px;
}
button:hover{
  cursor: pointer;
  box-shadow: 0 3px 3px 2px rgb(80, 76, 76);
  transition: 0.5s;
 

}

@media (max-width: 767px) {
  .card {
    width: 100%;
    margin: 0 auto;
  }
  
  .counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btns {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  
  button {
    margin-bottom: 10px;
  }
}
